body {
    text-align: center;
    position: relative;

}
a:hover { text-decoration: underline;}
a {
    text-decoration: none;
    color:   rgba(0,0,0,0.87) ;
}
.topbar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    text-align: right;
}
.gmail {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color:  rgba(0,0,0,0.87) ;
    outline-color:  rgba(0,0,0,0.87)  ;
    outline-style: none;
    text-align: right;
    display: inline-block;
    padding-right:5px;
}
#proficon{
   width: 30px;
   height: 30px;
   border-radius: 50%;
}
.profile {
    float: right;
    margin-top:-5px;
    position: relative;
    margin-left: 5px;
}
.images {
    text-align: right;
    display:  inline-block;
    padding-right: 5px;
}

.logo {
    padding-top:109px;
}

input {
    height:45px;
    border:none;
    width:550px;
    font-size:16px;
    outline: none;
    margin:0 auto;
    border-radius:30px;
    border:1px solid #dcdcdc;
}
.glass  {
    height:20px;
    position:relative;
    top:5px;
    right:540px;
    background-color: white;  
}
.mic  {
        height:20px;
        position:relative;
        top:5px;
        right:60px;
        background-color: white;  
    }
    button:hover {
        border-color: grey;
    }
.googlesearch {
    margin-left: -20px;
    margin-top: 40px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #f2f2f2;
    font-size: 15px;
    color:rgba(0,0,0,0.87) ; 
    padding:8px 13px 8px 13px;
    position: relative;

    
}
.lucky {
    margin-top: 40px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #f2f2f2;
    font-size: 15px;
    color:rgba(0,0,0,0.87) ; 
    padding:8px 13px 8px 13px;

    
}
ul{
    list-style-type: none;
}
.botnav {
    border-top:1px solid rgb(228, 228, 228)   ;
    margin-top:500px;
    padding-bottom: -40px;
    margin-left: -20px;
    padding-right: 20px;
    background-color: rgb(242, 242, 242);
    float: left;
    position: fixed;
	bottom: 0;
}
.adv{
    margin-left:-10px;
    margin-top: -15px;
    display: inline;
    margin-right: 20px;
}
.business{
    display: inline;
    margin-right: 20px;

}
.about {
    display: inline;
    margin-right: 20px;

}
.howsearch {
    display: inline;
}
.privacy {
    display: inline;
    margin-left: 1300px;
    margin-right: 20px;
}
.terms {
    display: inline;
    margin-right: 20px;

}
.settings {
    display: inline;
}
@media only screen and (max-device-width : 1920px) {
    footer {
    width: 100%;
    position: relative;
    }